#Copyright (c) denghb.com
#Sat Aug 03 16:29:30 CST 2019
writeDatabase=false
packageName=com.denghb.simplex.sys.domain
overrideExist=true
writeDDL=false
port=3306
selectAll=false
username=root
targetDir=/Users/denghb/IdeaProjects/simplex/simplex-backend/src/main/java/com/denghb/simplex/sys/domain
enableLombok=true
enableSwagger2=true
database=simplex
password=
writeGenerateTime=false
host=localhost
